#about-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100%;
    background-color: black;
    background-image: url(../images/bar-background1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: black;

    #about-box {
        height: 75%;
        width: 50%;

        h2, p {
            color: white;
        }
    }
}