#cocktails-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    width: 100%;

    .subheaders {
        color: white;
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        font-family: 'Roboto Mono', monospace;
        font-weight: bolder;
    }

    #random-box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60%;
        width: 100%; 

        #random-cocktails-info {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
        }

        p, h4 {
            color: white;
            color: #FFFFFF;
            font-family: 'Federo', sans-serif;
            font-weight: bolder;
        }
    }
}