#cocktails-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    #random-box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%; 
    }
}