@import "variables/borderman.scss";

#home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    #background-image {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: fill;
    }

    #welcome-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 30vh;
        width: 50vw;
        font-size: 2.5vw;

        h1, h3 {
            color: #FFFFFF;
            font-family: 'Federo', sans-serif;
            margin: .1em; // Play with the margins using em and pixels
        }
    }

    #steps-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        height: 20vh;
        width: 100%;

        h2, p {
            color: #FFFFFF;
            font-family: 'Federo', sans-serif;
            margin: .1em; // Play with the margins using em and pixels
        }
    }
}