#home-page {
    display: flex;
    flex-direction: column;
    background-image: url(../images/cocktail1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    #welcome-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 20vh;
        width: 60vw;
        font-size: 2.5vw;
        font-weight: bolder;
        background: transparent;

        h1, h3 {
            color: #FFFFFF;
            font-family: 'Federo', sans-serif;
            font-weight: bolder;
            margin: .05em; // Play with the margins using em and pixels
        }
    }

    #buttons-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        height: 10vh;
        width: 100%;
    }
    
} 