#about-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #ffffff;

    #about-cards-header {
        font-family: 'Playfair Display', serif;
    }

    #about-cards-container {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 60%;
        width: 75%;

        .about-card {
            position: relative;
            height: 80%;
            width: 25%;
            border-radius: 5px;
            box-shadow: rgb(0 0 0 / 30%) 0px 2px 4px 0px;
            transition: all .2s ease-out;

            .about-card-header {
                font-family: 'Playfair Display', serif;
                font-weight: bolder;
            }

            p, .about-buttons {
                font-family: 'Playfair Display', serif;
            }

            .about-buttons {
                background-size: 220%;
                box-shadow: 0 .2em .3em rgba(0, 0, 0, 0.15);
                color: #0E7C7B;
                background-color: transparent;
                background-position: 100%;
                border: 2px solid #0E7C7B;
                border-radius: 5px;
                padding: 10px;
                transition: all .2s ease-out;
                font-weight: bold;
                cursor: pointer;
                letter-spacing: 1px;
                background-image: linear-gradient(90deg, #0E7C7B 0%, #0E7C7B 50%, transparent 50%, transparent 100%);
                font-size: 1rem;
            }

            .about-buttons:active {
                transform: translateY(-1px);
            }
            
        }

        .about-card:hover {
            position: relative;
            transform: scale(1.03);
            cursor: pointer;
            overflow: visible;
            z-index: 100;
            
            .about-buttons {
                transform: translateY(-1px);
                box-shadow: 0 0 .3em rgba(0, 0, 0, 0.25);
                background-position: 0%;
                color: #ffffff;
            }
        }
    }
}