.visible{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 30vh;
    width: 75vw;

    #form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 3rem;
        width: 100%;
        
        #form-header {
            color: #ffffff;
            font-family: 'Playfair Display', serif;
            font-size: 3rem;
            // font-weight: 900;
            margin: .05em 0; // Play with the margins using em and pixels
        }

        #ingredient-form, #ingredient-label {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3rem;
            width: 85%;

            #ingredient-input {
                height: 2.5rem;
                width: 100%;
                border: 1px solid #7878786b;
                border-radius: 5px 0 0 5px;
            }

            #ingredient-input::-webkit-input-placeholder {
                color: #000000;
                font-family: 'Playfair Display', serif;
                font-weight: 400;
                font-size: 1rem;
                padding: 1rem;
            }

            #search-button-container {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #ffffff;
                height: 2.65rem;
                width: 7%;
                border-top: 1px solid #7878786b;
                border-right: 1px solid #7878786b;
                border-bottom: 1px solid #7878786b;
                border-left: none;
                border-radius: 0 5px 5px 0;

                #search-button {
                    background: transparent;
                    border: none;
                    transition: all .2s ease-out;
                }

                #search-button:hover {
                    position: relative;
                    transform: scale(1.2);
                    cursor: pointer;
                    overflow: visible;
                    z-index: 100;
                }
            }
        }
    }
}
