#login-form-container {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 35vw;

    #login-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        background-color: rgb(136, 136, 136);
    }
}